In [66]:
import numpy as np
import pandas as pd
import get_data
from scipy.spatial.distance import cdist

In [110]:
def get_top_vineyard(desired, lands, k=3):
    desired = desired.drop(["x", "y"], axis=0)
    lands = lands.drop(["x", "y"], axis=1)
    desired = np.array([np.array(desired, dtype=float)])
    lands = np.array(lands, dtype=float)
    distances = cdist(desired, lands)[0]
    args = np.argpartition(distances, k)[:k]
    closest_lands = lands[args]
    distances = cdist(desired, closest_lands)[0]
    return args[np.argsort(distances)]

In [68]:
vine = pd.read_csv("data.csv")

In [69]:
lands = pd.read_csv("lands.csv")

In [70]:
lands.iloc[0]

y                          403
x                         1721
admin                     True
landcover                   11
relief_aspect            360.0
relief_height                2
relief_slope          0.286477
relief_soiltexture           6
sunny_days                 124
vineyard                 False
water_seasonality            0
Name: 0, dtype: object

In [71]:
np.array(vine.iloc[0], dtype=float)

array([1.9700000e+02, 2.4450000e+03, 0.0000000e+00, 7.0000000e+00,
       3.6000000e+02, 1.7000000e+01, 1.4320962e+00, 3.0000000e+00,
       1.1100000e+02, 1.0000000e+00, 0.0000000e+00])

In [72]:
get_top_vineyard(vine.iloc[0], lands)

array([1, 0, 2])

In [73]:
areas = pd.read_csv("land_area.csv")

In [74]:
areas.head()

      x    y  x_left  x_right  y_top  y_bottom
0  1721  403    1719     1723    400       407
1  1726  403    1724     1729    400       407
2  1732  403    1730     1734    400       407
3  1737  403    1735     1739    400       407
4  1742  403    1740     1744    400       407

In [100]:
def find_closest(wineyards_y, wineyards_x, k):
    wineyards = pd.read_csv("data.csv")
    lands = pd.read_csv("lands.csv")
    desired_wineyards = pd.DataFrame(columns=lands.columns)
    for i in range(len(wineyards_x)):
        s = wineyards[(wineyards.x == wineyards_x[i]) & (wineyards.y == wineyards_y[i])]
        desired_wineyards = desired_wineyards.append(s)
    des = desired_wineyards.mean()
    # print(des)
    needed_indices = get_top_vineyard(des, lands, k)
    areas = pd.read_csv("land_area.csv")
    ans = {
        "x_center": [],
        "y_center": [],
        "x_left": [],
        "x_right": [],
        "y_top": [],
        "y_bottom": [],
    }
    for i in range(k):
        area = areas[(areas.x == lands.iloc[needed_indices[i]].x) & (areas.y == lands.iloc[needed_indices[i]].y)]
        ans["x_center"].append(int(area.x))
        ans["y_center"].append(int(area.y))
        ans["x_left"].append(int(area.x_left))
        ans["x_right"].append(int(area.x_right))
        ans["y_top"].append(int(area.y_top))
        ans["y_bottom"].append(int(area.y_bottom))
    return ans

In [111]:
find_closest([625], [2310], 5)

{'x_center': [743, 829, 765, 935, 822],
 'y_center': [2034, 2155, 2040, 2188, 2168],
 'x_left': [740, 826, 762, 932, 819],
 'x_right': [746, 832, 768, 938, 825],
 'y_top': [2032, 2152, 2038, 2186, 2166],
 'y_bottom': [2037, 2158, 2043, 2191, 2171]}

In [85]:
data = pd.read_csv("data.csv")

In [105]:
find_closest([1200], [2310], 5)

[nan nan nan ... nan nan nan]

{'x_center': [1721, 1726, 1732, 1737, 1742],
 'y_center': [403, 403, 403, 403, 403],
 'x_left': [1719, 1724, 1730, 1735, 1740],
 'x_right': [1723, 1729, 1734, 1739, 1744],
 'y_top': [400, 400, 400, 400, 400],
 'y_bottom': [407, 407, 407, 407, 407]}

In [112]:
find_closest([567], [2244], 5)

{'x_center': [675, 720, 1296, 1297, 1278],
 'y_center': [1986, 2107, 522, 544, 486],
 'x_left': [672, 718, 1294, 1295, 1276],
 'x_right': [678, 723, 1299, 1300, 1281],
 'y_top': [1983, 2105, 519, 541, 483],
 'y_bottom': [1988, 2110, 525, 547, 489]}

In [113]:
data = pd.read_csv("lands.csv")

In [114]:
data.head()

,y,x,admin,landcover,relief_aspect,relief_height,relief_slope,relief_soiltexture,sunny_days,vineyard,water_seasonality
0,403,1721,True,11,360.0,2,0.286477,6,124,False,0
1,403,1726,True,11,270.0,2,0.286477,6,124,False,0
2,403,1732,True,11,-99999.0,1,0.000000,6,124,False,0
3,403,1737,True,11,270.0,2,0.286477,6,123,False,0
4,403,1742,True,11,360.0,2,0.286477,6,123,False,0

In [116]:
data[data["admin"] == False]

,y,x,admin,landcover,relief_aspect,relief_height,relief_slope,relief_soiltexture,sunny_days,vineyard,water_seasonality
15,403,1799,False,5,213.690060,15,1.032803,6,122,False,0
16,403,1804,False,5,213.690060,18,1.032803,6,121,False,0
17,403,1809,False,5,206.565050,22,1.280959,6,121,False,0
18,403,1814,False,5,189.462330,28,1.742046,6,121,False,0
19,403,1819,False,5,213.690060,33,1.032803,6,121,False,0
...,...,...,...,...,...,...,...,...,...,...,...
160796,3752,3912,False,2,255.379120,2023,25.426160,9,59,False,0
160797,3754,3915,False,11,270.763900,2125,20.557720,9,59,False,0
160798,3762,3918,False,2,150.101100,2208,24.769114,9,59,False,0
160799,3758,3921,False,11,30.256437,2227,7.909161,9,59,False,0
160800,3748,4013,False,11,20.376434,2228,10.574348,9,67,False,0